<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee Stress Prediction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<!-- Accuracy(RF): 0.88375
Accuracy(LR): 0.8853125
Accuracy(DT): 0.815625
Accuracy(SVM): 0.8296875
Accuracy(KNN): 0.8071875
Accuracy(NN): 0.8296875 -->

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand fs-3" href="/">Employee Stress Prediction</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <form action="/reset" method="post">
                        <button class="btn btn-primary">Reset</button>
                    </form>
                </ul>
            </div>
    </nav><br><br><br>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="container justify-content-center col-lg-6">
        <form class="row  g-3 m-5" method="post" action="/predict">
            <h1>Employee Stress Prediction</h1>
            {% if result[0]==1 %} <p class="text-danger fs-4 fw-bold">Under Stress </p> {% elif result[0]==0 %} <p
                class="text-success fs-4 fw-bold">Not Under Stress</p> {% else
            %} <p class="text-dark ">Result will be displayed here once you submit </p>{% endif %}
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Age(in years)</label>
                <input type="number" class="form-control" id="inputEmail4" name="Age" required autofocus>
            </div>
            <div class="col-md-6">
                <label for="input4" class="form-label">Work Average Daily Hours</label>
                <input type="text" class="form-control" id="input4" name="AvgDailyHours" required>
            </div>
            <div class="form-floating col-md-12">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="Department" required>
                    <option value="0">Sales</option>
                    <option value="2">Human Resources</option>
                    <option value="1">Research & Development</option>
                </select>
                <label for="floatingSelect">Department</label>
            </div>

            <div class="form-floating col-md-12">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="Education" required>
                    <option value="1">Tenth</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Under Graduation</option>
                    <option value="4">Post Graduation</option>
                    <option value="5">PHD</option>
                </select>
                <label for="floatingSelect">Education</label>
            </div>

            <div class="form-floating col-md-12">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="EducationField" required>
                    <option value="2">Marketing</option>
                    <option value="0">Human Resources</option>
                    <option value="3">Medical</option>
                    <option value="1">Life Sciences</option>
                    <option value="5">Technical Degree</option>
                    <option value="4">Others</option>
                </select>
                <label for="floatingSelect">Education Field</label>
            </div>

            <div class="form-floating col-md-6">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="Gender"
                    required>
                    <option value="0">Female</option>
                    <option value="1">Male</option>
                </select>
                <label for="floatingSelect">Gender</label>
            </div>

            <div class="form-floating col-md-6">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="HasFlexibleTimings" required>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <label for="floatingSelect">Has Flexible Timings ?</label>
            </div>

            <div class="form-floating col-md-6">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="IsIndividualContributor" required>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <label for="floatingSelect">Is individual Contributor?</label>
            </div>

            <div class="form-floating col-md-6">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="JobInvolvement" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <label for="floatingSelect">Job Involvement</label>
            </div>
            <div class="form-floating col-md-6">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="JobRole" required>
                    <option value="7">Sales Executive</option>
                    <option value="2">Laboratory Technician</option>
                    <option value="3">Manager</option>
                    <option value="5">Research Director</option>
                    <option value="4">Manufacturing Director</option>
                    <option value="1">Human Resources</option>
                    <option value="6">Research Scientist </option>
                    <option value="8">Sales Representative</option>
                    <option value="0">Healthcare Representative</option>
                </select>
                <label for="floatingSelect">Job Role</label>
            </div>
            <div class="form-floating col-md-6">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="JobSatisfaction" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <label for="floatingSelect">Job Satisfaction</label>
            </div>

            <div class="col-12">
                <label for="input4" class="form-label">Leaves Taken</label>
                <input type="number" class="form-control" id="input4" name="LeavesTaken" required>
            </div>


            <div class="form-floating col-md-6">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="MaritalStatus" required>
                    <option value="1">Married</option>
                    <option value="2">Single</option>
                    <option value="0">Divorced</option>
                </select>
                <label for="floatingSelect">Marital Status</label>
            </div>

            <div class="form-floating col-md-6">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="MicromanagedAtWork" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <label for="floatingSelect">Micro Managed at work (rate out of 5) </label>
            </div>

            <div class="col-6">
                <label for="inputAddress" class="form-label">Monthly Income</label>
                <input type="number" class="form-control" id="inputAddress" name="MonthlyIncome" required>
            </div>

            <div class="col-6">
                <label for="inputAddress" class="form-label">Number of companies worked in </label>
                <input type="number" class="form-control" id="inputAddress" name="NumCompaniesWorked" required>
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Percent Salary Hike </label>
                <input type="number" class="form-control" id="inputAddress" name="PercentSalaryHike" required>
            </div>
            <div class="form-floating col-md-6">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="PerformanceRating" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <label for="floatingSelect">Performance Rating</label>
            </div>

            <div class="form-floating col-md-6">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="RelationshipSatisfaction" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <label for="floatingSelect">Relationship Satisfaction</label>
            </div>
            <div class="form-floating col-md-6">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="RemoteWorkSatistfaction" required>
                    <option value="3">Very High</option>
                    <option value="0">High</option>
                    <option value="2">Medium</option>
                    <option value="1">Low</option>
                    <option value="4">Very Low</option>
                </select>
                <label for="floatingSelect">Remote Work Satisfaction</label>
            </div>

            <div class="form-floating col-md-6">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="SelfMotivationLevel" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <label for="floatingSelect">Self Motivation Level</label>
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Total Working years</label>
                <input type="number" class="form-control" id="inputAddress" name="TotalWorkingYears" required>
            </div>
            <div class="col-md-12">
                <label for="inputCity" class="form-label"> Number of training sessions the employee has
                    undergone</label>
                <input type="number" class="form-control" id="inputCity" name="TrainingTimesLastYear" required>
            </div>

            <div class="form-floating col-md-6">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="WorkLifeBalance" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <label for="floatingSelect">Work Life Balence</label>
            </div>

            <div class="form-floating col-md-6">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    name="WorkLoadLevel" required>
                    <option value="0">High</option>
                    <option value="2">Medium</option>
                    <option value="1">Low</option>
                </select>
                <label for="floatingSelect">Work Load Level</label>
            </div>



            <div class="col-md-6">
                <label for="inputCity" class="form-label">Years at Present Company</label>
                <input type="number" class="form-control" id="yearAtCompany" name="YearsAtCompany" required>
            </div>

            <div class="col-md-6">
                <label for="inputCity" class="form-label">Years since last Promotion</label>
                <input type="number" class="form-control" id="YearsSincePromotion" name="YearsSinceLastPromotion"
                    required>
            </div>
            <div class="col-md-12">
                <label for="inputCity" class="form-label">Years With Current Manager</label>
                <input type="number" class="form-control" id="YearsSincePromotion" name="YearsWithCurrManager" required>
            </div>
            <!-- <div class="form-floating col-md-12">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="method"
                    required>
                    <option value="LR">Logistic Regression(Acc=0.8853125)</option>
                    <option value="DT">Decision Tree(Acc=0.815625)</option>
                    <option value="KNN">K-Nearest Neighbours(Acc=0.8071875)</option>
                    <option value="MLPC">Neural Network(Acc=0.8296875)</option>
                    <option value="RF">Random Forest(Acc=0.88375)</option>
                    <option value="KNN">Support Vector Machine(Acc=0.8296875)</option>

                </select>
                <label for="floatingSelect">Select an Algorithm</label>
            </div> -->
            <div class="text-center"><br>
                <button class="btn btn-primary btn-lg" type="submit">Predict</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>


<!-- 

{'Age': '1',
'AvgDailyHours': '1',
'Department': '0',
'Education': '1',
'EducationField': '2',
'Gender': '0',
'HasFlexibleTimings': '1',
'IsIndividualContributor': '1',
'JobInvolvement': '1',
'JobRole': '7',
'JobSatisfaction': '1',
'LeavesTaken': '1',
'MaritalStatus': '1',
'MicromanagedAtWork': '1',
'MonthlyIncome': '1',
'NumCompaniesWorked': '1',
'PercentSalaryHike': '1',
'PerformanceRating': '1',
'RelationshipSatisfaction': '1',
'RemoteWorkSatistfaction': '3',
'SelfMotivationLevel': '1',
'TotalWorkingYears': '1',
'TrainingTimesLastYear': '1',
'WorkLifeBalance': '1',
'WorkLoadLevel': '0',
'YearsAtCompany': '1',
'YearsSinceLastPromotion': '1',
'YearsWithCurrManager': '1'} 
Accuracy(RF): 0.88375
Accuracy(LR): 0.8853125
Accuracy(DT): 0.815625
Accuracy(SVM): 0.8296875
Accuracy(KNN): 0.8071875
Accuracy(NN): 0.8296875


-->